[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {file = "https://github.com/Rapptz/discord.py/archive/rewrite.zip"}
imgurpython = {file = "https://github.com/Imgur/imgurpython/archive/master.zip"}
spotipy = "*"
"beautifulsoup4" = "*"
discogs-client = "*"
python-dateutil = "*"
raven = "*"
youtube_dl = "*"
pillow = "*"
lyricsfinder = "*"
pynacl = "*"
aiohttp = "*"
websockets = "*"
colorlog = "*"
"js2py" = "*"
lxml = "*"
pyyaml = "*"
uvloop = {version = "*", markers = "sys_platform != 'win32'"}
python-rapidjson = "*"
motor = "*"
dnspython = "*"
"cacf39d" = {file = "https://github.com/aio-libs/aioredis/archive/master.zip"}
aredis = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.7"
