discord.py[voice]==0.16.12
youtube_dl==2018.6.14
pip==10.0.1
cffi==1.11.5; sys_platform == 'win32'
numpy==1.14.5

https://github.com/Imgur/imgurpython/archive/master.zip#egg=imgurpython
spotipy==2.4.4
pillow==4.0.0
moviepy
aiohttp
openpyxl
beautifulsoup4
discogs_client
python-dateutil
raven
