discord.py[voice]==0.16.12
youtube_dl==2018.8.4
pip==18.0
cffi==1.11.5; sys_platform == 'win32'
numpy==1.15.0

https://github.com/Imgur/imgurpython/archive/master.zip#egg=imgurpython
spotipy==2.4.4
pillow==5.2.0
moviepy==0.2.3.5
aiohttp==3.3.2
openpyxl==2.5.5
beautifulsoup4==4.6.1
discogs_client==2.2.1
python-dateutil==2.7.3
raven==6.9.0
